[Unit]
Description=tftp daemon

Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
KillMode=none

# Environment
Environment="TMPDIR=/var/tmp/"

## Cleanup old container
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm -v %n

# Start main
ExecStart=/usr/bin/docker run --name %n --rm \
  --net host \
  --volume=/home/core/bootstrap-hack/tftp/tftpboot/:/tftpboot \
  4a4c/tftpd

# Stop container
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
